@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 12vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vh 5vh 0vh 5vh;
  transition: 0.3s ease-in-out;
}
header .header-div1 {
  width: 25%;
  height: 100%;
  font-family: "Sacramento", cursive;
}
header .header-div1 a {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5a4738;
}
header .header-div2 {
  width: 40%;
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
}
header .header-div2 nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header .header-div2 nav a {
  font-size: 15pt;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}
header .header-div2 nav a::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #7bcad8;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s ease-in-out;
}
header .header-div2 nav a:hover {
  color: #7bcad8;
}
header .header-div2 nav a:hover::after {
  width: 100%;
}

main {
  font-family: "Josefin Sans", sans-serif;
}
main .main-div1 {
  width: 100%;
  height: 80vh;
  background: url(../imgs/banner-coffee-gif.gif) center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .main-div1 span {
  padding-top: 12vh;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding-bottom: 10vh;
  background-color: rgba(0, 0, 0, 0.5215686275);
}
main .main-div1 span h1 {
  font-size: 40pt;
  color: #5f4029;
  font-family: "Sacramento", cursive;
  text-shadow: 0 0 12px rgba(128, 91, 65, 0.6039215686), 0 0 50px rgba(128, 91, 65, 0.6039215686), 0 0 100px rgba(128, 91, 65, 0.6039215686);
}
main .main-div2 {
  width: 100%;
  height: 90vh;
  background-color: #ffffff;
  display: flex;
}
main .main-div2 .main-div2-1 {
  width: 50%;
  height: 100%;
  display: grid;
  place-items: center;
}
main .main-div2 .main-div2-2 {
  width: 50%;
  height: 100%;
  padding: 10vh 20vh 10vh 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
  color: #1b1b20;
}
main .main-div2 .main-div2-2 h2 {
  font-size: 25pt;
  color: #b89073;
  font-family: "Sacramento", cursive;
  font-weight: 50;
}
main .main-div2 .main-div2-2 h1 {
  font-size: 35pt;
}
main .main-div2 .main-div2-2 p {
  font-size: 13pt;
  font-weight: 600;
}
main .main-div2 .main-div2-2 button {
  padding: 3vh;
  width: 32vh;
  background-color: #b89073;
  border: none;
  border-radius: 10px;
  font-size: 13pt;
  font-weight: 600;
  color: #fff;
  transition: background 0.3s ease-in-out;
}
main .main-div2 .main-div2-2 button:hover {
  background-color: #b97748;
  color: #7bcad8;
  text-decoration: underline;
  cursor: pointer;
}
main .main-div3 {
  width: 100%;
  height: 35vh;
  background-color: #f8f0e7;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main .main-div3 .div3-card {
  width: 30%;
  height: 80%;
  display: flex;
  color: #1b1b20;
}
main .main-div3 .div3-card .icone {
  width: 20%;
  height: 100%;
  padding: 10vh 1vh 1vh 1vh;
}
main .main-div3 .div3-card .conteudo {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh;
  gap: 2vh;
  text-align: justify;
}
main .main-div3 .div3-card .conteudo h1 {
  font-size: 18pt;
}
main .main-div3 .div3-card .conteudo p {
  font-size: 13pt;
  font-weight: 600;
  color: #424242;
}
main .main-div4 {
  width: 100%;
  height: 90vh;
  background-color: #1b1b20;
  display: flex;
}
main .main-div4 .div1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5vh;
  color: #fff;
  padding: 10vh;
}
main .main-div4 .div1 h1 {
  color: #b89073;
  font-family: "Sacramento", cursive;
  font-size: 40pt;
}
main .main-div4 .div1 h3 {
  font-size: 30pt;
}
main .main-div4 .div1 h3 span {
  color: #c0c0c0;
}
main .main-div4 .div1 p {
  font-size: 15pt;
}
main .main-div4 .div2 {
  width: 50%;
  height: 100%;
  background: url(../imgs/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
main .main-div4 .div2 .fundo {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1215686275);
}
main .main-div5 {
  width: 100%;
  height: 110vh;
  display: grid;
  place-items: center;
  padding-bottom: 5vw;
}
main .main-div5 h1 {
  color: #b89073;
  font-family: "Sacramento", cursive;
  font-size: 30pt;
}
main .main-div5 .div1 {
  width: 70vw;
  height: 80vh;
  display: flex;
}
main .main-div5 .div1 .lista {
  width: 50%;
  height: 100%;
  background-color: #1b1b20;
  display: grid;
  place-items: center;
  padding: 5vh;
}
main .main-div5 .div1 .lista button {
  display: flex;
  width: 90%;
  padding: 1vh;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  font-size: 12pt;
  border: none;
  color: #fff;
  border-bottom: 1px dotted #b89073;
  transition: 0.3s ease-in-out;
}
main .main-div5 .div1 .lista button:hover {
  color: #b89073;
  letter-spacing: 3px;
  cursor: pointer;
}
main .main-div5 .div1 .imagem {
  width: 50%;
  height: 100%;
  background: url(../imgs/mesa.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main .main-div5 .div1 .imagem #itens {
  width: 100%;
  height: 100%;
  padding: 5vh;
  display: grid;
  place-items: center;
  gap: 1vh;
}
main .main-div5 .div1 .imagem #itens span {
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #5a4738;
  font-size: 15pt;
  color: #fff;
}
main .main-div6 {
  width: 100%;
  height: 70vh;
  display: flex;
}
main .main-div6 .div1 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-div6 .div1 div {
  width: 70%;
  height: 30%;
}
main .main-div6 .div1 div h1 {
  font-size: 40pt;
}
main .main-div6 .div1 div h2 {
  font-size: 30pt;
}
main .main-div6 .div1 div p {
  font-size: 20pt;
}
main .main-div6 .formulario {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-div6 .formulario form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
main .main-div6 .formulario form .name input {
  width: 12.5vw;
}
main .main-div6 .formulario form input {
  width: 25vw;
  height: 5vh;
  border: 0;
  border-bottom: 1px solid #b89073;
}
main .main-div6 .formulario form input:focus, main .main-div6 .formulario form input select:focus {
  box-shadow: 0 0 0 0;
  border: none;
  outline: 0;
  border-bottom: 1px solid #5a4738;
}
main .main-div6 .formulario form textarea:focus, main .main-div6 .formulario form select:focus {
  box-shadow: 0 0 0 0;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #5a4738;
}
main .main-div6 .formulario form textarea {
  border: 0;
  border-bottom: 1px solid #b89073;
}

footer {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  height: 30vh;
  background-color: #b89073;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 1vw;
}
footer .footer-div1 {
  width: 100%;
  height: 50%;
  color: #5a4738;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #fff;
}
footer .footer-div1 .logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sacramento", cursive;
}
footer .footer-div1 .header-2 {
  width: 40%;
  height: 100%;
}
footer .footer-div1 .header-2 nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .footer-div1 .header-2 nav a {
  font-size: 14pt;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  position: relative;
  transition: 0.2s ease-in-out;
}
footer .footer-div1 .header-2 nav a::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #7bcad8;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s ease-in-out;
}
footer .footer-div1 .header-2 nav a:hover {
  color: #7bcad8;
}
footer .footer-div1 .header-2 nav a:hover::after {
  width: 100%;
}
footer .footer-div1 .num {
  width: 20%;
  height: 100%;
  display: grid;
  place-items: center;
  color: #fff;
}
footer .footer-div2 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 14pt;
  padding-left: 2vw;
  padding-right: 2vw;
}

.ativo {
  color: #5a4738;
  background-color: #b89073;
  height: 9vh;
  box-shadow: 0px 0px 3px 5px #b89073;
}

::selection {
  background-color: rgba(123, 202, 216, 0.4431372549);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #b89073;
  border: 0px;
  border-radius: 3px;
}

/*# sourceMappingURL=style.css.map */
